.sidebar {
  // width: 250px !important;
  //   background: yellow;
  border: 1px solid #ddd;
  height: 80%;
}
.sidebar {
  ::-webkit-scrollbar {
    display: none;
  }
}
.logout-btn {
  border: none;
  background: var(--blue-primary);
  color: white;
  border-radius: 10px;
  // padding: 10px;
}
.ps-submenu-expand-icon.css-viw5ch {
  display: none !important;
}

.sidebar-section-title {
  color: rgba(36, 34, 32, 0.4);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 218.182% */
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  // padding: 0px 15px;
  color: var(--blue-primary);
}

.ps-menu-button.ps-active {
  // background-color: var(--blue-primary);
  color: var(--blue-primary) !important;
}

.ps-submenu-content.ps-open .ps-menu-button.ps-active {
  // background-color: var(--blue-primary);
  color: var(--blue-primary);
}

.collapse-btn {
  position: absolute;
  top: 52px;
  right: -6px;
  z-index: 1;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--blue-primary);
  border: none;
  display: flex;
  align-items: center;
  color: white;
  transition: transform 0.2s ease-in-out;
}
.collapse-btn:disabled {
  opacity: 0.1;
  pointer-events: none;
}
.collapse-btn:focus {
  outline: none;
  box-shadow: 10px 10px 120px 11px rgba(0, 0, 0, 1);
}
.collapse-btn:hover {
  transform: scale(1.7);
  // transition: transform 0.2s ease-in-out;
}
.sidebar-header {
  padding: 10px;
  height: 60px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.css-dip3t8 {
  z-index: 0 !important;
}
