.common-checkbox-container label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #434343;
}

.common-checkbox-container input[type="checkbox"] {
  font-size: 3rem;
}
